:root {
  --primary-color: #42b983;
  --table-default-corner-radius: 6px;
  --default-border-size: 1px;
  --default-padding-for-blocks: 25px;
}

#app {
    font-family: "Open Sans", Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  
  #nav, #main {
    padding: var(--default-padding-for-blocks);
  }
  
  #nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  #nav a.router-link-exact-active {
    color: var(--primary-color);
  }

  table {
    width: 100%;
    border-spacing: 0;
    border: var(--default-border-size);
    border-collapse: separate;
  }

  th, td {
    padding-left: 5px;
    padding-right: 5px;
  }

  th {
    background-color: var(--primary-color);
    font-weight: normal;
    color: white;
  }
  
  tbody tr td {
    border-left: var(--default-border-size) solid var(--primary-color);
    border-bottom: var(--default-border-size) solid var(--primary-color);
  }

  tbody tr td:last-child {
    border-right: var(--default-border-size) solid var(--primary-color);
  }

  th:first-child {
    border-radius: var(--table-default-corner-radius) 0 0 0;
    background-clip: border-box;
  }
  
  th:last-child {
    border-radius: 0 var(--table-default-corner-radius) 0 0;
    background-clip: border-box;
  }